# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
*.iml
.vscode/

# Flutter generated
**/generated_plugin_registrant.*
**/.dart_tool/

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/local.properties
android/key.properties
android/**/keystore.jks
android/app/release/

# iOS (kullanilmiyor ama kalsin)
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcuserdata/

# Misc
*.log
.DS_Store
